	{% load static %}
	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="{% static 'img/fav.png' %}">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Musée Dar El Bacha</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
			<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
			<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
			<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">					
			<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
			<link rel="stylesheet" href="{% static 'css/main.css' %}">
			<link rel="icon" type="image/png" href="{% static 'img/logow12.png'%}"/>
		</head>
		<body>
			  <header id="header" id="home">
			  	<div class="container header-top">
			  		<div class="row">
						<div class="col-6 top-head-left">
							<ul>
							</ul>
						</div>
				  		<div class="col-6 top-head-right">
				  			<ul class="ml-auto">
		  						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
				  			</ul>
				  		</div>			  			
			  		</div>
			  	</div>
			  	<hr>
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="{% url 'home' %}"><img src="{% static 'img/logow12.png' %}" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="{% url 'home' %}">Accueil</a></li>
				          <li><a href="{% url 'manifestation' %}">Manifestations</a></li>
						  <li><a href="{% url 'conference' %}">Conférences</a></li>
						  <li><a href="{% url 'oeuvre' %}">Gallerie</a></li>   
				          <li><a href="{% url 'contact' %}">Contactez-nous</a></li>						  	
						  {% if user.is_authenticated %}
						  	<li><a href="#reserver">Réserver une visite</a></li>
							<li><a href="/logout"  class="primary-btn text-uppercase">Se déconnecter</a></li>
						  {% else %}
						  	<li><a href="{% url 'signinup' %}" class="primary-btn text-uppercase">S'abonner</a></li>		
						  {% endif %}
						</ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="banner-area "></div>
				<div class="overlay overlay-bg"></div>	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-8">
							{% if user.is_authenticated %}
							{% for abonnee in abonnees %}
								{% if abonnee.email == user.email %}
								<h1 class="text-white">
									Bienvenu(e) au MUSÉE DES CONFLUENCES DAR EL BACHA, {{ abonnee.prenom }}	{{ abonnee.nom }}			
								</h1>	
								{% endif %}
						  {% endfor %}
						{% else %}
						<h1 class="text-white">
							MUSÉE DES CONFLUENCES DAR EL BACHA				
						</h1>		
						{% endif %}
							<br>
							<br>
							<p class="pt-20 pb-20 text-white">
								Dar El Bacha est une demeure seigneuriale construite en 1910. Le bâtiment a été la résidence de Thami El Glaoui, nommé pacha de Marrakech par le Sultan Moulay Youssef en 1912.
							</p>
						</div>											
					</div>
				</div>					
			</section>
			<!-- End banner Area -->

	
			{% if user.is_authenticated %}
			<section id="reserver">
				<div class="container">
				   <div class="row">
					  <div class="col-md-12">
						 <form class="form_book" method="post" action="reservation">
							{% csrf_token %}
							{{form}}
							<div class="row">
							   <div class="col-md-3">
								  <label class="date">Nom</label>
								  <input class="book_n" name="last_name" required />
							   </div>
							   <div class="col-md-3">
								<label class="date">Prénom</label>
								<input class="book_n"name="first_name" required />
							 </div>
							   <div class="col-md-3">
								<label class="date">Date de la visite</label>
								<input class="book_n"  type="date" name="date" required />
							 </div>
							   <div class="col-md-3">
								  <label class="date">Heure du début de la visite</label>
								  <input class="book_n"  type="time" name="heure" required />
							   </div>
							   <div class="col-md-3">
								  <label class="date">Nombre de personnes</label>
								  <input class="book_n" placeholder="2" type="type" name="nbr" required/>
							   </div>
							   <div class="col-md-3">
								<label class="date">Visite guidée</label><br>
								<label class="date" for="yes">Yes</label><input type="radio" id="yes" name="choice" value="yes"><br>
								<label  class="date" for="no">No</label><input type="radio" id="no" name="choice" value="no"> 
							 </div>	
							   <div class="col-md-3">
								  <button class="book_btn" >Réserver</button>
							   </div>
							</div>
						 </form>
					  </div>
				   </div>
				</div>
			 </section>	
		  {% endif %}

		  {% if messages %}
		  <ul class="messages">
		  {% for message in messages %}
		  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		  {% endfor %}
		  </ul>
		  {% endif %} 
			<!-- Start service Area -->
			<section class="service-area pt-100" id="about">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="single-service">
							  <span class="lnr lnr-clock"></span>
							  <h4>Horaires</h4>
							  <p>
								Ouvert toute la semaine, sauf le lundi.
								de 10h00 à 18h00.
							  </p>						 	
							</div>							
						</div>
						<div class="col-lg-4">
							<div class="single-service">
							  <span class="lnr lnr-phone"></span>
							  <h4>Téléphone</h4>
							  <p>
								+ 212 (0) 5 24 389 564
							  </p>						 	

							</div>							
						</div>
						<div class="col-lg-4">
							<div class="single-service">
							  <span class="lnr lnr-map-marker"></span>
							  <h4>Venir au musée</h4>
							  <p>
								Derb El Bahia, Riad Zitoun Jdid, Marrakech, Maroc.
							  </p>						 	
							</div>							
						</div>												
					</div>
				</div>	
			</section>
			<!-- End service Area -->
			
			<!-- Start quote Area -->
			<section class="quote-area section-gap">
				<div class="container">				
					<div class="row">
						<div class="col-lg-6 quote-left">
							<h1>
								<br>
								<br>
								<br>
								<br>
								<span>Le bâtiment</span> est l’exemple type du riad composé d’un jardin entouré de six pièces sur ses quatre côtés.<br>
								Un lieu majestueux, magique par son architecture et par la beauté de son ornementation.
							</h1>
							<h1>
								<br>
								<br>
								<span>En outre, Dar El Bacha</span>, se compose de plusieurs dépendances : le hammam traditionnel ; la douiria, un espace réservé aux serviteurs du palais ; la bibliothèque et espace privé « harem » réservé à la famille du  <span>Pacha</span>.
							</h1>
						</div>
						<div class="col-lg-6 quote-right">
							<a><img src="{% static 'img/dar-bacha-image2.jpg' %}" alt="" title="" /></a>
						</div>
					</div>
				</div>	
			</section>
			<!-- End quote Area -->

			<!-- Start exibition Area -->
			<section class="exibition-area section-gap" id="exhibitions">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Manifestations en cours</h1>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="active-exibition-carusel">
							{% for event in events.all %}
							  <div class="single-exibition item">
								<img src="{{ event.image.url }}" alt="">
								<ul class="tags">
								  <li><a href="#">{{ event.theme }}</a></li>
								</ul>
								<a href="#"><h4>{{ event.title }}</h4></a>
								<h6 class="date"> du {{ event.start_day }} au {{ event.end_day }}</h6>
							  </div>
							{% endfor %}
						  </div>													
					</div>
				</div>	
			</section>
			<!-- End exibition Area -->			
		
			
			<!-- Start gallery Area -->
			<section class="gallery-area section-gap" id="gallery">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Gallerie Photos</h1>
							</div>
						</div>
					</div>						
					<div id="grid-container" class="row">
						<a class="single-gallery" href="{% static 'img/darbacha-1.jpg' %}"><img class="grid-item" src="{% static 'img/darbacha-1.jpg' %}"></a>
						<a class="single-gallery" href="{% static 'img/darbacha-2.jpg' %}"><img class="grid-item" src="{% static 'img/darbacha-2.jpg' %}"></a>
						<a class="single-gallery" href="{% static 'img/darbacha-3.jpg' %}"><img class="grid-item" src="{% static 'img/darbacha-3.jpg' %}"></a>
						<a class="single-gallery" href="{% static 'img/darbacha-4.jpg' %}"><img class="grid-item" src="{% static 'img/darbacha-4.jpg' %}"></a>
						<a class="single-gallery" href="{% static 'img/darbacha-05.jpg' %}"><img class="grid-item" src="{% static 'img/darbacha-05.jpg' %}"></a>
						<a class="single-gallery" href="{% static 'img/darbacha-06.jpg' %}"><img class="grid-item" src="{% static 'img/darbacha-06.jpg' %}"></a>
						<a class="single-gallery" href="{% static 'img/darbacha-07.jpg' %}"><img class="grid-item" src="{% static 'img/darbacha-07.jpg' %}"></a>
						<a class="single-gallery" href="{% static 'img/darbacha-08.jpg' %}"><img class="grid-item" src="{% static 'img/darbacha-08.jpg' %}"></a>						
					</div>	
				</div>	
			</section>
			<!-- End gallery Area -->
			

			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>À PROPOS</h6>
								<p>
									Ce site est le fruit du travail fait durant le cours de Génie Logiciel S7 MIAAD
								</p>
								<p class="footer-text">
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
								</p>
							</div>
						</div>
						<div class="col-lg-5  col-md-6 col-sm-6">
							<div class="single-footer-widget">

							</div>
						</div>						
						<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
							<div class="single-footer-widget">
								<h6>SUIVEZ-NOUS</h6>
								<div class="footer-social d-flex align-items-center">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</div>
							</div>
						</div>							
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->		

			<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="{% static 'js/easing.min.js' %}"></script>			
			<script src="{% static 'js/hoverIntent.js' %}"></script>
			<script src="{% static 'js/superfish.min.js' %}"></script>	
			<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
			<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>	
			<script src="{% static 'js/owl.carousel.min.js' %}"></script>	
			<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
			<script src="{% static 'js/justified.min.js' %}"></script>					
			<script src="{% static 'js/jquery.sticky.js' %}"></script>
			<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>			
			<script src="{% static 'js/parallax.min.js' %}"></script>		
			<script src="{% static 'js/mail-script.js' %}"></script>	
			<script src="{% static 'js/main.js' %}"></script>	
		</body>
	</html>



