{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/logow12.png'%}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signinup.css' %}">
    <title>Musée Dar El Bacha</title>
</head>
<body>

  <div class="container">
    <div class="alert alert-success m-2" id="popup" role="alert"> 
        {% for message in messages %}
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            {% if message.tags == 'error' %}
            <script>
                swal({
                    title: "Erreur :(",
                    text: "Le mot de passe que vous avez entrer est incorrect ressayer",
                    icon: "warning",
                    buttons: true,
                  });
            </script>                    
            {% elif message.tags == 'warning'%}
            <script>
                swal({
                    title: "Erreur :(",
                    text: "L'email que vous avez entrer est déjà existé. Merci de le changer",
                    icon: "warning",
                    buttons: true,
                  });
            </script>
            {% elif  message.tags == 'info'%}
            <script>
                swal({
                    title: "Erreur :(",
                    text: "Le mot de passe de confirmation ne correspond pas au premier mot de passe",
                    icon: "warning",
                    buttons: true,
                  });
            </script>
            {% else %}
              <script>
                    swal({
                        title: "Très Bien :)",
                        text: "Votre compte est crée avec succés",
                        icon: "success",
                        button: "Login !",
                      });
              </script>
            {% endif %}
        {% endfor %}
    </div>
  <div class="forms-container">
    <div class="signin-signup">
          
    <!--                    Sign in Forum                 -->
    <form class="sign-in-form" method="post">   
      {% csrf_token %}
      {{form1.as_p}}
      <h2>Bienvenue,</h2>
      <div class="input-field">
      <i class="fas fa-user"></i>
      <input type="texte" placeholder="Email" name="username" required/>
      </div>
      <div class="input-field">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Mot de passe" name="password" required/>
    </div>
      <input class="btn solid" type="submit" value="Connecter" name="btnform1"/>
    </form>
 
    <form class="sign-up-form" method="post">
      {% csrf_token %}
      {{form2.as_p}}
      <h2>Il est temps de se sentir chez soi,</h2>
      <div class="input-name">
        <div class="input-field-custom" id="test1">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Prénom" name="first_name" required/>
        </div>  
        <div class="input-field-custom" id="test2">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Nom" name="last_name" required/>
      </div>
    </div>
      <div class="input-field" id="formulaire">
        <i class="fas fa-envelope"></i>
        <input type="email" placeholder="Email" name="email" required/>
    </div>
    <div class="input-field" id="formulaire">
      <i class="fas fa-address-card"></i>
        <input type="text" placeholder="CNI" name="cni" required />
    </div>
    <div class="input-field" id="formulaire">
      <i class="fas fa-credit-card"></i>
      <input type="text" placeholder="Carte de payement" name="carte_payement" required />
    </div>
      <div class="input-field" id="formulaire">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Mot de passe" name="password" required/>
      </div>
      <div class="input-field" id="formulaire">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Confirmer Mot de passe" name="cpassword" required/>
      </div>
      <div class="input-field" id="formulaire">
        <i class="fas fa-list"></i>
        <select placeholder="Type d'abonné(e)"  name="type_abonne" required>
            <option value="">- Sélectionner -</option>
            <option value="Public">Public</option>
            <option value="Etudiant">Etudiant</option>
            <option value="Eleve">Elève</option>
            <option value="Comité d'entreprise">Comité d'entreprise</option>
            <option value="Etudiant d'art">Etudiant d'art</option>
        </select>
      </div>
      <div class="input-field" id="formulaire">
        <i class="fas fa-list"></i>
        <select placeholder="Type d'abonnement" name="type_abonnement" required>
            <option value="">- Sélectionner -</option>
            <option value="Mensuel">Mensuel</option>
            <option value="Trimestriel">Trimestriel</option>
            <option value="Semestriel">Semestriel</option>
            <option value="Annuel">Annuel</option>
        </select>
      </div>
      <input type="submit" class="btn" value="S'abonner" id="formulaire" name="btnform2"/>
    </form>
  </div>
</div>

<div class="panels-container">
  <div class="panel left-panel">
      <div class="content">
          <h3>Vous êtes nouveau ici ?</h3>
          <p>
            Inscrivez-vous et découvrez un grand nombre de nouvelles opportunités !
          </p>
          <button class="btn transparent" id="sign-up-btn">S'abonner</button>
      </div>
  </div>
  <div class="panel right-panel">
      <div class="content">
          <h3>L'un d'entre nous ?</h3>
          <p>
            Si vous avez déjà un compte, il suffit de vous connecter. Vous nous avez manqué !
          </p>
          <button class="btn transparent" id="sign-in-btn">Se connecter</button>
      </div>
  </div>
</div>
</div>
<script src="{% static 'js/Signinup.js' %}"></script>
</body>
</html>